@model IEnumerable<JourneyListViewModel>

@{
    ViewData["Title"] = WebConstants.JourneySearchResultsPageTitle;
}

<section class="inner-sec-w3layouts-agileits">
    <div class="container">
        @if (Model == null || Model.Count() == 0)
        {
            <div class="banner-bottom-agile-w3ls">
                <div class="transparent-bg-dark p-4">
                    <h3>Няма намерени подходящи пътувания. Опитайте отново по-късно или създайте свое собствено, за да споделите с други хора, пътуващи в същата посока.</h3>
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <p>За да видите точния маршрут на някое пътуване, кликнете върху сивото поле около него.</p>
                <div class="col-md-6 mapper-wrapper">
                    <div id='map'></div>
                </div>
                <div class="col-md-6" style="overflow: auto; height:500px">
                    @foreach (JourneyListViewModel journey in Model)
                    {
                        <div class="journeyOption">
                            <div class="row journeyOption-data">
                                <input value="@journey.StartPointX" class="startPointX" type="hidden" />
                                <input value="@journey.StartPointY" class="startPointY" type="hidden" />
                                <input value="@journey.EndPointX" class="endPointX" type="hidden" />
                                <input value="@journey.EndPointY" class="endPointY" type="hidden" />
                                <div class="col-md-6">
                                    <img src="~/images/database/@(journey.Driver.ProfilePictureFileName + ".jpg")" alt="Driver picture" height="50">
                                    <span class="d-block">
                                        <a asp-controller="Users" asp-action="Details" asp-route-id="@(journey.DriverId)">@journey.Driver.FirstName @journey.Driver.LastName</a>
                                    </span>
                                    <a asp-controller="Journeys" asp-action="Join" asp-route-id="@journey.Id" class="btn btn-success">Присъединяване</a>
                                </div>
                                <div class="col-md-6">
                                    <p><span class="fa fa-money-bill-alt" style="width:25px;"></span>@journey.Price лв.</p>
                                    <p><span class="fa fa-users" style="width:25px;"></span>Места: @(journey.Seats - journey.Passengers.Count()) от @journey.Seats</p>
                                    <p><span class="fa fa-car" style="width:25px;"></span>@journey.Car.Model.Make.Title @journey.Car.Model.Title</p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</section>

@if (Model != null && Model.Count() > 0)
{
    @section Styles{
        <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.css' rel='stylesheet' />
        <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.0/mapbox-gl-directions.css' type='text/css' />
    }

    @section Scripts{
        <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.js'></script>
        <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.0/mapbox-gl-directions.js'></script>
        <script type="text/javascript" src="~/js/mapBox.js"></script>
        <script>
            $(document).ready(function () {
                let mapboxDirections = mapOptions.getMapboxDirections();

                $('.journeyOption').on('click', function () {
                    $('.journeyOption-data').removeClass('journeyOption-active');
                    $(this).children('.journeyOption-data').addClass('journeyOption-active');

                    startPointX = $(this).find('.startPointX').val();
                    startPointY = $(this).find('.startPointY').val();
                    endPointX = $(this).find('.endPointX').val();
                    endPointY = $(this).find('.endPointY').val();
                    mapboxDirections.setOrigin([startPointX, startPointY]);
                    mapboxDirections.setDestination([endPointX, endPointY]);
                });
            })
        </script>
    }

}