<!DOCTYPE html>
<html>

@{
    var controller = ViewContext.RouteData.Values["Controller"].ToString();
    var action = ViewContext.RouteData.Values["Action"].ToString();
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="пътуване, Пловдив, София, Варна, град, извънградско, кола, споделено пътуване, дестинация, rideshare" />
    <meta name="description" content="Намерете вашите спътници до желаната дестинация, като пътувате споделено. Помислете за околната среда и намалете броя на колите в града." />
    <meta name="author" content="Dimitar Tachev and Daniel Georgiev" />
    <meta property="og:title" content="ЗакарайМе - сайтът, който ви помага да намерите споделено пътуване до желаната дестинация" />
    <meta property="og:description" content="Използвайте нашата карта, за да изберете най-удобния за вас маршрут. Свържете се с други като вас и заедно допринесете към опазването на природата, като намалите използването на коли"/>
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://zakaraime.com" />
    <meta property="og:image" content="~/images/banner1.png"/>

    <title>@ViewData["Title"] | ЗакарайМе</title>
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link href="~/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="~/css/owl.carousel.css" type="text/css" media="all">
    <link rel="stylesheet" href="~/css/owl.theme.css" type="text/css" media="all">
    <link href="~/css/style.css" rel='stylesheet' type='text/css' />
    <link href="~/css/fontawesome-all.css" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,900" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700" rel="stylesheet">
    @RenderSection("Styles", required: false)
</head>
<body>
    <div id="fb-root"></div>
    <script async defer src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.2&appId=2072239089478904&autoLogAppEvents=1"></script>
    <!--/banner-->
    <div class="banner-inner" id="home">
        <!-- header -->
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light top-header">
                <button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">Начало</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="About">За ЗакарайМе</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Cars" asp-action="Create">Добави кола</a>
                        </li>
                        @if (User.IsInRole(CommonConstants.DriverRole))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Journeys" asp-action="Create">Сподели пътуване</a>
                            </li>
                        }

                        @if (User.IsInRole(CommonConstants.AdministratorRole))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                                   aria-expanded="false">
                                    Админ панел
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a asp-controller="Cars" asp-action="Index" class="dropdown-item text-center">Коли</a>
                                    <a asp-controller="Users" asp-action="Index" class="dropdown-item text-center">Потребители</a>

                                </div>
                            </li>
                        }
                        <partial name="_LoginPartial" />
                    </ul>
                </div>
            </nav>
        </header>
        <!-- //header -->
        <!-- banner-text -->
        @if (controller == "Home" && action == "Index")
        {
            <div id="wrapper">
                <!-- Slideshow 1 -->
                <div class="rslides_container">
                    <ul class="rslides" id="slider1">
                        <li>
                            <div class="banner-img">
                                <div class="banner-info text-center">
                                    <h3 class="logo">
                                        <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                                            <i class="fas fa-car"></i> Закарай Ме
                                        </a>
                                    </h3>
                                    <h4>Пътувайте споделено в града и извън него</h4>
                                    <div class="banner-form">
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <partial name="../Journeys/_Search"/>
                                        }
                                        else
                                        {
                                            <div class="text-center">
                                                <p class="text-light transparent-bg-dark">За да използвате услугите на zakaraime.com трябва да влезете в своя акаунт. Можете да влезете чрез Facebook, като кликнете на бутона вход.</p>
                                                <a asp-controller="Account" asp-action="Login" class="b-home btn">Вход</a>
                                                <a asp-controller="Account" asp-action="Register" class="b-home btn">Регистрация</a>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="banner-img one">
                                <div class="banner-info text-center">
                                    <h3 class="logo">
                                        <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                                            <i class="fas fa-car"></i> Закарай Ме
                                        </a>
                                    </h3>
                                    <h4>Пътувайте споделено в града и извън него</h4>
                                    <div class="content">
                                        <partial name="_StatisticsPartial" />
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="modal" id="exampleModalCenter" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <h5 class="modal-title text-center" id="exampleModalLongTitle">Избиране на маршрут</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body map-modal">
                                <div id='map'></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Запази</button>
                        </div>
                    </div>
                </div>
            </div>

        }
        else
        {
            <!-- banner-text -->
            <div class="wrapper-inner">
                <h3 class="logo text-center">
                    <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                        @*TODO: Add Logo here*@
                        <i class="fas fa-car"></i> Закарай Ме
                    </a>
                </h3>
            </div>
        }

    </div>
    <!-- //banner -->

    <partial name="_CookieConsentPartial" />

    @if (TempData.ContainsKey(WebConstants.TempDataSuccessMessageKey))
    {
        <div class="alert alert-success alert-dismissable alert-fixed">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <span>@TempData[WebConstants.TempDataSuccessMessageKey]</span>
        </div>
    }
    @if (TempData.ContainsKey(WebConstants.TempDataErrorMessageKey))
    {
        <div class="alert alert-danger alert-dismissable alert-fixed">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <span>@TempData[WebConstants.TempDataErrorMessageKey]</span>
        </div>
    }
    @if (TempData.ContainsKey(WebConstants.TempDataWarningMessageKey))
    {
        <div class="alert alert-warning alert-dismissable alert-fixed">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <span>@TempData[WebConstants.TempDataWarningMessageKey]</span>
        </div>
    }

    @RenderBody()

    <!--footer-->
    <footer>
        <div class="container">
            <div class="footer-top-agileits-w3ls text-center">
                <h2 class="logo">
                    <a asp-controller="Home" asp-action="Index">
                        <i class="fas fa-car"></i> Закарай Ме
                    </a>
                </h2>
                <p class="para three mt-4">
                    С непрестанното развитие на българската икономика и градове напливът на автомобили със съпътстващите го натоварен трафик и замърсяване са проблеми, които намират все по-голям отзвук в нашето общество. Никой не е доволен от всекидневното чакане в задръствания, пониженото качество на въздуха и шума, който се образува вследствие на завишения брой автомобили. Оставете своя автомобил и пътувайте заедно с други хора!
                </p>
            </div>
            <div class="row footer-bottom-wthree-agile">
                <div claxss="col-lg-6 social-icon footer text-right">
                    <div class="icon-social">
                        <a href="#" class="button-footr">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#" class="button-footr">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#" class="button-footr">
                            <i class="fab fa-dribbble"></i>
                        </a>
                        <a href="#" class="button-footr">
                            <i class="fab fa-pinterest-p"></i>
                        </a>
                    </div>
                </div>
                <div class="clearfix"></div>

            </div>
            <!-- //footer -->
        </div>
    </footer>

    <!-- js -->
    <script src="~/js/jquery-2.2.3.min.js"></script>
    <!-- //js -->
    <!--slider-->
    <script src="~/js/responsiveslides.min.js"></script>
    <script>
        $(function () {

            // Slideshow 1
            $("#slider1").responsiveSlides({
                auto: false,
                pager: true,
                nav: true,
                speed: 500,
                namespace: "centered-btns"
            });


        });
    </script>
    <!--//slider-->
    <!--search-bar-->
    <script src="~/js/search.js"></script>
    <!--//search-bar-->
    <link href="~/css/simplyCountdown.css" rel='stylesheet' type='text/css' />
    <!--js-->
    <!-- carousel -->

    <script>
        $('a[href="/@controller/@action"]').parent().addClass('active')
    </script>

    <!--search-bar-->
    <!--/ start-smoth-scrolling -->
    <script src="~/js/move-top.js"></script>
    <script src="~/js/easing.js"></script>
    <script>
        $(document).ready(function () {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 900);
            });
        });
    </script>
    <!--// end-smoth-scrolling -->

    <script>
        $(document).ready(function () {
            $().UItoTop({
                easingType: 'easeOutQuart'
            });

            $(".alert-fixed").fadeTo(2000, 500).slideUp(500, function () {
                $(".alert-fixed").slideUp(500)
            });
        });
    </script>
    <a href="#home" class="scroll" id="toTop" style="display: block;">
        <span id="toTopHover" style="opacity: 1;"> </span>
    </a>

    <!-- //Custom-JavaScript-File-Links -->
    <script src="~/js/bootstrap.js"></script>
    
    @RenderSection("Scripts", required: false)
</body>
</html>
