@model User

@{
    ViewData["Title"] = string.Join(" ", Model.FirstName, Model.LastName);
}

<section class="inner-sec-w3layouts-agileits">
    <div class="container">
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
                    <img src="~/images/database/@(Model.ProfilePictureFileName + ".jpg")" alt="Profile picture" class="img">
                </div>
                <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8">
                    <div class="container" style="border-bottom:1px solid black">
                        @if (Model.UserName == User.Identity.Name)
                        {
                            <a asp-controller="Users" asp-action="Update" asp-route-id="@Model.Id"><h2>@Model.FirstName @Model.LastName</h2></a>
                        }
                        else
                        {
                            <h2>@Model.FirstName @Model.LastName</h2>
                        }
                    </div>
                    <ul class="container details">
                        <li><p><span class="fa fa-mobile" style="width:50px;"></span>@Model.PhoneNumber</p></li>
                        <li><p><span class="fa fa-envelope" style="width:50px;"></span>@Model.Email</p></li>
                        <li><p><span class="fa fa-car" style="width:50px;"></span>@Model.Cars.Count()</p></li>
                        <li><p><span class="fa fa-road" style="width:50px;"></span>@Model.DriverJourneys.Count() пътувания като шофьор</p></li>
                        <li><p><span class="fa fa-road" style="width:50px;"></span>@Model.PassengerJourneys.Count() пътувания като пътник</p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="banner-bottom-agile-w3ls">
    <div class="container">
        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <span class="fa fa-car"></span> Коли
                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body row">
                        @foreach (Car car in Model.Cars)
                        {
                            <div class="col-md-4">
                                <div class="card">
                                    <img class="card-img-top" src="~/images/database/@(car.PictureFileName + ".jpg")" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">@car.Model.Make.Title @car.Model.Title</h5>
                                        @if (User.Identity.Name == car.Owner.UserName)
                                        {
                                            <a class="btn btn-danger" asp-controller="Cars" asp-action="Delete" asp-route-id="@car.Id" onclick="return confirm('Сигурен ли си, че искаш да изтриеш тази кола?')">Изтрий</a>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <span class="fa fa-road"></span> Пътувания
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        <div class="row">
                            <p>За да видите точния маршрут на някое пътуване, кликнете върху сивото поле около него.</p>
                            <div class="col-md-7 col-sm-12 mapper-wrapper">
                                <div id='map'></div>
                            </div>
                            <div class="col-md-5 col-sm-12" style="overflow: auto; height:500px">
                                @foreach (UserJourney userJourney in Model.PassengerJourneys.OrderBy(pj => pj.Journey.SetOffTime).ToList())
                                {
                                    <div class="journeyOption">
                                        <div class="row journeyOption-data">
                                            <input value="@userJourney.Journey.StartPointX" class="startPointX" type="hidden" />
                                            <input value="@userJourney.Journey.StartPointY" class="startPointY" type="hidden" />
                                            <input value="@userJourney.Journey.EndPointX" class="endPointX" type="hidden" />
                                            <input value="@userJourney.Journey.EndPointY" class="endPointY" type="hidden" />
                                            <div class="col-md-4">
                                                <img src="~/images/database/@(userJourney.Journey.Driver.ProfilePictureFileName + ".jpg")" alt="Driver picture" height="50">
                                                <span class="d-block">
                                                    <a asp-controller="Users" asp-action="Details" asp-route-id="@(userJourney.Journey.DriverId)">@userJourney.Journey.Driver.FirstName @userJourney.Journey.Driver.LastName</a>
                                                </span>
                                                @if (User.Identity.Name == userJourney.User.UserName)
                                                {
                                                    <a asp-controller="Journeys" asp-action="Leave" asp-route-id="@userJourney.JourneyId" class="btn btn-success">Отказ</a>
                                                }
                                            </div>
                                            <div class="col-md-6">
                                                <p><span class="fa fa-money-bill-alt" style="width:25px;"></span>@userJourney.Journey.Price лв.</p>
                                                <p><span class="fa fa-users" style="width:25px;"></span>Места: @(userJourney.Journey.Seats - userJourney.Journey.Passengers.Count()) от @userJourney.Journey.Seats</p>
                                                <p><span class="fa fa-car" style="width:25px;"></span>@userJourney.Journey.Car.Model.Make.Title @userJourney.Journey.Car.Model.Title</p>
                                            </div>
                                        </div>
                                    </div>
                                }

                                @foreach (Journey journey in Model.DriverJourneys)
                                {
                                    <div class="journeyOption">
                                        <div class="row journeyOption-data">
                                            <input value="@journey.StartPointX" class="startPointX" type="hidden" />
                                            <input value="@journey.StartPointY" class="startPointY" type="hidden" />
                                            <input value="@journey.EndPointX" class="endPointX" type="hidden" />
                                            <input value="@journey.EndPointY" class="endPointY" type="hidden" />
                                            <div class="col-md-4">
                                                <img src="~/images/database/@(Model.ProfilePictureFileName + ".jpg")" alt="Driver picture" height="50">
                                                <span class="d-block">
                                                    <a asp-controller="Users" asp-action="Details" asp-route-id="@(Model.Id)">@Model.FirstName @Model.LastName</a>
                                                </span>
                                                @if (journey.Passengers.Count == 0 && journey.Driver.UserName == User.Identity.Name)
                                                {
                                                    <a asp-controller="Journeys" asp-action="Delete" asp-route-id="@journey.Id" class="btn btn-sm btn-danger">Изтрий</a>
                                                    <a asp-controller="Journeys" asp-action="Update" asp-route-id="@journey.Id" class="btn btn-sm btn-warning">Промени</a>
                                                }
                                            </div>
                                            <div class="col-md-6">
                                                <p><span class="fa fa-money-bill-alt" style="width:25px;"></span>@journey.Price лв.</p>
                                                <p><span class="fa fa-users" style="width:25px;"></span>Места: @(journey.Seats - journey.Passengers.Count()) от @journey.Seats</p>
                                                <p><span class="fa fa-car" style="width:25px;"></span>@journey.Car.Model.Make.Title @journey.Car.Model.Title</p>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Styles{
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.css' rel='stylesheet' />
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.0/mapbox-gl-directions.css' type='text/css' />
}

@section Scripts{
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.js'></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.0/mapbox-gl-directions.js'></script>
    <script type="text/javascript" src="~/js/mapBox.js"></script>
    <script>
        $(document).ready(function () {
            let mapboxDirections = mapOptions.getMapboxDirections();                        

            $('#accordion').on('show.bs.collapse', function () {                
                setTimeout(function () {
                    mapOptions.getMap().resize();
                }, 1000);                
            });

            $('.journeyOption').on('click', function () {
                $('.journeyOption-data').removeClass('journeyOption-active');
                $(this).children('.journeyOption-data').addClass('journeyOption-active');

                startPointX = $(this).find('.startPointX').val();
                startPointY = $(this).find('.startPointY').val();
                endPointX = $(this).find('.endPointX').val();
                endPointY = $(this).find('.endPointY').val();
                mapboxDirections.setOrigin([startPointX, startPointY]);
                mapboxDirections.setDestination([endPointX, endPointY]);
            });
        })
    </script>
}