@model List<CarListViewModel>

@{
    ViewData["Title"] = WebConstants.CarIndexPageTitle;
}


<section class="banner-bottom-agile-w3ls">
    <div class="container">
        <h2>@ViewData["Title"]</h2>
        <table class="table table-responsive table-bordered">
            <tr>
                <th>Id</th>
                <th>Снимка</th>
                <th>Модел</th>
                <th>Цвят</th>
                <th>Собственик</th>
                <th>Действия</th>
            </tr>
            @foreach (CarListViewModel car in Model)
            {
                <tr>
                    <td>@car.Id</td>
                    <td><img src="~/images/database/@(car.PictureFileName + ".jpg")" width="50" height="50" /></td>
                    <td>@car.Model.Make.Title @car.Model.Title</td>
                    <td>@car.Colour</td>
                    <td><a asp-controller="Users" asp-action="Details" asp-route-id="@car.OwnerId">@car.Owner.FirstName @car.Owner.LastName</a></td>
                    <td>
                        <a class="btn btn-danger" asp-controller="Cars" asp-action="Delete" asp-route-id="@car.Id" onclick="return confirm('Сигурен ли си, че искаш да изтриеш тази кола?')">Изтрий</a>
                    </td>
                </tr>
            }
        </table>
    </div>
</section>
