@model List<CarListViewModel>

@{
    ViewData["Title"] = WebConstants.UserIndexPageTitle;
}

<h2>@ViewData["Title"]</h2>

<table class="table table-responsive table-bordered">
    <tr>
        <th>Id</th>
        <th>Снимка</th>
        <th>Модел</th>
        <th>Цвят</th>
        <th>Действия</th>
    </tr>
    @foreach (CarListViewModel car in Model)
    {
        <tr>
            <td>@car.Id</td>
            <td><img src="~/images/database/@(car.PictureFileName + ".jpg")" width="50" height="50" /></td>
            <td>@(car.Model)</td>
            <td>@car.Colour</td>
            @*<td>
                <a class="btn btn-warning" asp-controller="Cars" asp-action="Update" asp-route-id="@car.Id">Редактирай</a>
                <a class="btn btn-danger" asp-controller="Cars" asp-action="Delete" asp-route-id="@car.Id" onclick="return confirm('Сигурен ли си, че искаш да изтриеш този потребител?')">Изтрий</a>
            </td>*@
        </tr>
    }
</table>
